manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=0.32.0"
}

params {
	datasets = "${PWD}/data/*.txt"
	chunks = 10
	output_dir = "${PWD}/output"

	import_emx {
		enabled = true
	}

	similarity {
		enabled = true
		threads = 1
		clus_method = "none"
		corr_method = "pearson"
		min_expr = "-inf"
		min_clus = 1
		max_clus = 5
		criterion = "BIC"
		preout = false
		postout = false
		min_corr = 0.5
		max_corr = 1
	}

	export_cmx {
		enabled = true
	}

	threshold {
		enabled = true
		reduction = "first"
		spline = true
	}

	extract {
		enabled = true
	}

	visualize {
		enabled = false
	}
}



report {
	enabled = true
	file = "${params.output_dir}/report.html"
}



timeline {
	enabled = true
	file = "${params.output_dir}/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output_dir}/trace.txt"
	raw = true
}



docker {
	sudo = true
	runOptions = "--init --runtime=nvidia"
}



singularity {
	runOptions = "--bind \$TMPDIR --nv"
	autoMounts = true
	cacheDir = "work-singularity"
}



k8s {
	launchDir = "${PWD}"
	storageClaimName = "deepgtex-prp"
	storageMountPath = "${PWD}"
}



process {
	container = "systemsgenetics/kinc:3.2.2"
	errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
}



profiles {
	standard {
		process {
			executor = "local"

			withLabel:gpu {
				cpus = "${params.similarity.threads}"
				memory = "8 GB"
			}
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}

	pbs {
		process {
			executor = "pbs"
			time = "8h"
			clusterOptions = "-l select=1:mem=2gb:ncpus=2"
			module = "KINC"

			withLabel:gpu {
				clusterOptions = "-l select=1:mem=8gb:ncpus=${params.similarity.threads}:ngpus=2:gpu_model=p100"
			}
			withLabel:python {
				module = "anaconda3"
			}
		}
		executor {
			queueSize = 100
		}
	}
}
