/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: KINC_IMPORTEMX {
        ext.args = "" +
            "--nan \"${params.data_missing_val}\" " +
            "--samples ${params.data_num_samples} "+
            "--contains-row-id ${params.data_has_row_ids}"

        ext.prefix = "${params.outprefix}"
    }

    withName: KINC_SIMILARITY_CHUNK {
        def minexpr = params.similarity_minexpr
        if (!params.similarity_minexpr) {
            minexpr = '-inf'
        }
        ext.args = "" +
            "--clusmethod ${params.similarity_clusmethod} " +
            "--corrmethod ${params.similarity_corrmethod} " +
            "--minexpr $minexpr " +
            "--minsamp ${params.similarity_minsamp} " +
            "--minclus ${params.similarity_minclus} " +
            "--maxclus ${params.similarity_maxclus} " +
            "--crit ${params.similarity_criterion} " +
            "--preout ${params.similarity_preout} " +
            "--postout ${params.similarity_postout} " +
            "--mincorr ${params.similarity_mincorr} " +
            "--maxcorr ${params.similarity_maxcorr} " +
            "--bsize ${params.similarity_bsize} " +
            "--gsize ${params.similarity_gsize} " +
            "--lsize ${params.similarity_lsize}"

        ext.prefix = "${params.outprefix}"
    }

    withName: KINC_SIMILARITY_MERGE {
        def minexpr = params.similarity_minexpr
        if (!params.similarity_minexpr) {
            minexpr = '-inf'
        }
        ext.args = "" +
            "--clusmethod ${params.similarity_clusmethod} " +
            "--corrmethod ${params.similarity_corrmethod} " +
            "--minexpr $minexpr " +
            "--minsamp ${params.similarity_minsamp} " +
            "--minclus ${params.similarity_minclus} " +
            "--maxclus ${params.similarity_maxclus} " +
            "--crit ${params.similarity_criterion} " +
            "--preout ${params.similarity_preout} " +
            "--postout ${params.similarity_postout} " +
            "--mincorr ${params.similarity_mincorr} " +
            "--maxcorr ${params.similarity_maxcorr} " +
            "--bsize ${params.similarity_bsize} " +
            "--gsize ${params.similarity_gsize} " +
            "--lsize ${params.similarity_lsize}"

        ext.prefix = "${params.outprefix}"
    }

    withName: KINC_CORRPOWER {
        ext.args = "" +
            "--alpha ${params.corrpower_alpha} " +
            "--power ${params.corrpower_power}"

        ext.prefix = "${params.outprefix}"
    }

    withName: KINC_CONDTEST {
        ext.args = "" +
            "--delim ${params.condtest_delim} " +
            "--nan \"${params.condtest_nan}\" " +
            "--feat-tests \"${params.condtest_tests}\" " +
            "--feat-types \"${params.condtest_types}\" " +
            "--alpha ${params.condtest_alpha} " +
            "--power ${params.condtest_power} "

        ext.prefix = "${params.outprefix}"
    }


    withName: KINC_EXTRACT {
        ext.args = "" +
            "--format ${params.extract_format} " +
            "--mincorr ${params.extract_mincorr} " +
            "--maxcorr ${params.extract_maxcorr} " +
            "--filter-pvalue ${params.extract_pvalue} " +
            "--filter-rsquare ${params.extract_rsquare} "

        ext.prefix = "${params.outprefix}"
    }

    withName: KINC_REMOVEBIAS {
        ext.args = "" +
            "--mt_th ${params.removebias_mtth} " +
            "--wa_th ${params.removebias_wath} " +
            "--wa_base ${params.removebias_wabase} " +
            "--chunks ${params.removebias_split_size} "

        ext.prefix = "${params.outprefix}"
    }



    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
